{{ $donate := .Scratch.Get "donate" }}
{{ if $donate.qrcode }}
    <a class="button donate" href="{{ $donate.url }}" data-type="afdian" target="_blank" rel="noopener">
        <span class="icon is-small">
          <i class="fas fa-charging-station"></i>
        </span>
        <span>{{ i18n (printf "donate_%s" $donate.type) }}</span>
    </a>
{{ else }}
    <div class="notification is-danger">
        You forgot to set the <code>url</code> for Afdian. Please set it in <code>config.yaml</code>.
    </div>
{{ end }}
