{{ $donate := .Scratch.Get "donate" }}
{{ if $donate.qrcode }}
    <a class="button is-info donate">
        <span class="icon is-small">
            <i class="fab fa-alipay"></i>
        </span>
        <span>{{ i18n (printf "donate_%s" $donate.type) }}</span>
        <span class="qrcode">
            <img src="{{ $donate.qrcode | relURL }}" alt="{{ i18n (printf "donate_%s" $donate.type) }}">
        </span>
    </a>
{{ else }}
    <div class="notification is-danger">
        You forgot to set the <code>qrcode</code> for Alipay. Please set it in <code>config.yaml</code>.
    </div>
{{ end }}
