<div class="searchbox">
    <div class="searchbox-container">
        <div class="searchbox-header">
            <form class="searchbox-input-container">
                <input class="searchbox-input" name="wd" type="text" placeholder="{{ i18n "search_hint" }}"/>
            </form>
            <a class="searchbox-close" href="javascript:;">×</a>
        </div>
    </div>
</div>
<script>
    (function ($) {
      $('.searchbox-input-container').on('submit', function (e) {
        const keyword = $('.searchbox-input[name="wd"]').val();
        window.location = 'https://www.baidu.com/s?wd=site:{{ .Site.BaseURL | replaceRE "https?://(.*)/" "$1" }} ' + keyword;
        return false;
      });
    })(jQuery);
    (function (document, $) {
      $(document)
        .on('click', '.navbar-main .search', function () {
          $('.searchbox').toggleClass('show');
        })
        .on('click', '.searchbox .searchbox-mask', function () {
          $('.searchbox').removeClass('show');
        })
        .on('click', '.searchbox-close', function () {
          $('.searchbox').removeClass('show');
        });
    })(document, jQuery);
</script>
