<div class="searchbox">
    <div class="searchbox-container">
        <div class="searchbox-header">
            <div class="searchbox-input-container">
                <input class="searchbox-input" type="text" placeholder="{{ i18n "search_hint" }}"/>
            </div>
            <a class="searchbox-close" href="javascript:;">×</a>
        </div>
        <div class="searchbox-body"></div>
    </div>
</div>
<script type="text/javascript" src="{{ "js/insight.js" | relURL }}" defer></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
      loadInsight(
        {contentUrl: '/index.json'},
        {
          hint: {{ i18n "search_hint" }},
          untitled: {{ i18n "search_untitled" }},
          posts: {{ i18n "common_post" 2 }},
          pages: {{ i18n "common_page" 2 }},
          categories: {{ i18n "common_category" 2 }},
          tags: {{ i18n "common_tag" 2 }}
        }
      );
    });
</script>
