<nav class="navbar navbar-main">
    <div class="container">
        <div class="navbar-brand is-flex-center">
            <a class="navbar-item navbar-logo" href="/">
                {{ if .Site.Params.site.logo }}
                    <img src="{{ .Site.Params.site.logo | relURL }}" alt="{{ .Title }}" height="28">
                {{ else }}
                    {{ .Site.Title }}
                {{ end }}
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                {{ $link := replaceRE "(^/[^/]*)/?$" "$1" .RelPermalink }}
                {{ range sort .Site.Menus.main "Weight" }}
                    <a class="navbar-item {{ if eq .URL $link }}{{ "is-active" }}{{ end }}"
                       href="{{ .URL }}">{{ i18n (printf "navbar_%s" .Identifier) }}</a>
                {{ end }}
            </div>
            <div class="navbar-end">
                {{ range .Site.Params.navbar.links }}
                    <a class="navbar-item" target="_blank" title="{{ .name }}" href="{{ .url }}" rel="noopener">
                        <i class="{{ .icon }}"></i>
                    </a>
                {{ end }}
                {{ if and (.Scratch.Get "have").toc (.Params.toc | default true) (eq .Page.Kind "page") }}
                    <a class="navbar-item is-hidden-tablet catalogue" title="{{ i18n "widget_catalogue" 2 }}" href="javascript:;">
                        <i class="fas fa-list-ul"></i>
                    </a>
                {{ end }}
                {{ if .Site.Params.navbar.search.type }}
                    <a class="navbar-item search" title="{{ i18n "search_search"}}" href="javascript:;">
                        <i class="fas fa-search"></i>
                    </a>
                {{ end }}
            </div>
        </div>
    </div>
</nav>
{{ with .Site.Params.navbar.search.type }}
    {{ $.Scratch.Set "search" $.Site.Params.navbar.search }}
    {{ partial (printf "search/%s.html" .) $ }}
    {{ $.Scratch.Delete "search" }}
{{ end }}
