{{ $cdnProvider := (.Scratch.Get "cdn").cdn }}

<script type="text/javascript" src="{{ printf "%sjquery/3.5.1/jquery.min.js" $cdnProvider }}"></script>
<script type="text/javascript" src="{{ printf "%smoment.js/2.26.0/moment-with-locales.min.js" $cdnProvider }}"></script>

<script>moment.locale({{ .Site.Language.Lang | default "en" }});</script>

<script>
    var IcarusThemeSettings = {
      article: {
        highlight: {
          clipboard: {{ .Site.Params.article.code.clipboard }},
          fold: {{ .Site.Params.article.code.fold }}
        }
      },
      toc: {
        index: {{ (.Scratch.Get "have").toc_index }}
      }
    };
</script>

<script type="text/javascript" src="{{ printf "%shighlight.js/9.18.1/highlight.min.js" $cdnProvider }}"></script>

{{ if .Site.Params.article.code.clipboard }}
    <script type="text/javascript" src="{{ printf "%sclipboard.js/2.0.4/clipboard.min.js" $cdnProvider }}" defer></script>
{{ end }}

{{ range .Site.Params.plugins }}
    {{ $path := printf "plugin/%s.html" .name }}
    {{ if and .enable (templates.Exists (printf "partials/%s" $path)) }}
        {{ $.Scratch.Set "plugin" . }}
        {{ $.Scratch.SetInMap "plugin" "head" false }}
        {{ $.Scratch.SetInMap "plugin" "baseUrl" $cdnProvider }}
        {{ partial $path $ }}
        {{ $.Scratch.Delete "plugin" }}
    {{ end }}
{{ end }}

<script type="text/javascript" src="{{ "js/main.js" | relURL }}" defer></script>
