{{ $busuanzi := false }}
{{ range .Site.Params.plugins }}
    {{ if and (eq .name "busuanzi") (eq .enable true) }}
        {{ $busuanzi = true }}
    {{ end }}
{{ end }}

{{ $toc := false }}
{{ $toc_index := false }}
{{ range .Site.Params.widgets }}
    {{ if eq .type "toc" }}
        {{ $toc = true }}
        {{ $toc_index = .index | default true }}
    {{ end }}
{{ end }}

{{ $adsense_client_id := "" }}
{{ range .Site.Params.widgets }}
    {{ if eq .type "adsense" }}
        {{ $adsense_client_id = .client_id }}
    {{ end }}
{{ end }}

{{ return (dict "busuanzi" $busuanzi "toc" $toc "toc_index" $toc_index "adsense_client_id" $adsense_client_id) }}
