{{ define "main" }}
    {{ range (.Site.RegularPages.GroupByDate "2006-01" ) }}
        <div class="card widget">
            <div class="card-content">
                <h3 class="tag is-link" id="{{ .Key }}">
                    {{ dateFormat (i18n "date_formate_archive") (printf "%s-01" .Key) }}
                </h3>
                <div class="timeline">
                    {{ range (where .Pages "Type" "==" "posts") }}
                        <article class="media">
                            {{ if and .Site.Params.article.thumbnail .Params.thumbnail }}
                                <a href="{{ .Permalink }}" class="media-left">
                                    <p class="image is-64x64">
                                        <img class="thumbnail"
                                             src="{{ with .Params.thumbnail }}{{ . }}{{ else }}{{ "img/thumbnail.svg" | relURL }}{{ end }}"
                                             alt="{{ .Title }}">
                                    </p>
                                </a>
                            {{ end }}
                            <div class="media-content">
                                <div class="content">
                                    <time class="has-text-grey is-size-7 is-block is-uppercase"
                                          datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006-01-02" }}
                                    </time>
                                    <a href="{{ .Permalink }}"
                                       class="title has-link-black-ter is-size-6 has-text-weight-normal">{{ .LinkTitle }}</a>
                                    <div class="level article-meta is-mobile">
                                        <div class="level-left">
                                            <div class="level-item is-size-7 is-uppercase">
                                                {{ $categories := index .Params.categories 0 }}
                                                <a class="has-link-grey"
                                                   href="/categories/{{ $categories }}">{{ $categories }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {{ end }}
                </div>
            </div>
        </div>
    {{ end }}
{{ end }}
