{{ $comment := .Scratch.Get "comment" }}
{{ if and $comment.appid $comment.conf }}
    <div id="SOHUCS" sid="{{ md5 .Permalink }}"></div>
    <script charset="utf-8" src="https://changyan.sohu.com/upload/changyan.js"></script>
    <script type="text/javascript">
      window.changyan.api.config({
        appid: {{ $comment.appid }},
        conf: {{ $comment.conf }}
      });
    </script>
{{ else }}
    <div class="notification is-danger">
        You forgot to set the <code>appid</code> or <code>conf</code> for Changyan. Please set it in <code>config.yaml</code>.
    </div>
{{ end }}
