{{ $comment := .Scratch.Get "comment" }}
{{ if $comment.shortname }}
    {{ $cdnProvider := (.Scratch.Get "cdn").cdn }}
    <link rel="stylesheet" href="{{ printf "%sdisqusjs/1.2.5/dist/disqusjs.css" $cdnProvider }}">
    <div id="disqus_thread">
        <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
    <script src="{{ printf "%sdisqusjs/1.2.5/dist/disqus.js" $cdnProvider }}"></script>
    <script>
        new DisqusJS({
          shortname: {{ $comment.shortname }},
          apikey: {{ $comment.api_key }},
          siteName: {{ .Site.Title }},
          identifier: {{ md5 .Permalink }},
          url: {{ .Permalink }},
          title: {{ .Title }},
          api: {{ $comment.api }},
          admin: {{ $comment.admin }},
          adminLabel: {{ $comment.admin_label | default false }},
          nesting: {{ $comment.nesting | default 4 }}
        });
    </script>
{{ else }}
    <div class="notification is-danger">
        You forgot to set the <code>shortname</code> or <code>api_key</code> for Disqus. Please set it in <code>config.yaml</code>.
    </div>
{{ end }}
