<div class="fb-comments" data-width="100%" data-href="{{ .Permalink }}" data-num-posts="5"></div>
<script>
    (function (d, s, id) {
      let js;
      const fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = '//connect.facebook.net/{{ replace (.Site.LanguageCode | default "en") "-" "_" }}/sdk.js#xfbml=1&version=v2.8';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
