<div class="card">
    {{ if .Params.cover }}
        <div class="card-image">
            <a href="{{ .RelPermalink }}" class="image is-7by3">
                <img class="fill" src="{{ .Params.cover }}" alt="{{ .Title }}">
            </a>
        </div>
    {{ end }}
    <article class="card-content article" role="article">
        {{ if eq .Section "posts" }}
            <div class="article-meta is-size-7 is-uppercase level is-mobile">
                <div class="level-left">
                    {{ with .Date }}
                        <span class="level-item">
                            <time dateTime="{{ .Format "2006-01-02T15:04:05Z07:00" }}"
                                  title="{{ .Format "2006-01-02T15:04:05Z07:00" }}">{{ .Format "2006-01-02" }}</time>{{ i18n "article_created_at" }}
                        </span>
                    {{ end }}
                    {{ with .Lastmod }}
                        <span class="level-item">
                            <time dateTime="{{ .Format "2006-01-02T15:04:05Z07:00" }}"
                                  title="{{ .Format "2006-01-02T15:04:05Z07:00" }}">{{ .Format "2006-01-02" }}</time>{{ i18n "article_updated_at" }}
                        </span>
                    {{ end }}
                    {{ with .Params.author }}
                        <span class="level-item">{{ . }}</span>
                    {{ end }}
                    {{ with .Params.categories }}
                        <span class="level-item">
                            {{ $categories := index . 0 }}
                            <a class="link-muted" href="/categories/{{ $categories }}">{{ $categories }}</a>
                        </span>
                    {{ end }}
                    {{ if .Site.Params.article.readtime }}
                        <span class="level-item">{{ i18n "article_read_time" .ReadingTime }} ({{ i18n "article_word_count" .WordCount }})</span>
                    {{ end }}
                </div>
            </div>
        {{ end }}
        <h1 class="title is-3 is-size-4-mobile">
            <a class="link-muted" href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h1>
        <div class="content">{{ .Summary }}</div>
        {{ if .Truncated }}
            <a class="article-more button is-small size-small" href="{{ with .Params.link }}{{ . }}{{ else }}{{ .RelPermalink }}#more{{ end }}"
            {{ if and .Params.link (not (findRE (string .Site.BaseURL) .Params.link)) }}target="_blank" rel="noopener"{{ end }}>{{ i18n "article_more" }}</a>
        {{ end }}
    </article>
</div>
