<div class="card">
    {{ if .Params.cover }}
        <div class="card-image">
            <span class="image is-7by3">
                <img class="fill" src="{{ .Params.cover }}" alt="{{ .Title }}">
            </span>
        </div>
    {{ end }}
    <article class="card-content article" role="article">
        {{ if eq .Section "posts" }}
            <div class="article-meta size-small is-uppercase level is-mobile">
                <div class="level-left">
                    {{ with .Date }}
                        <span class="level-item">
                            <time dateTime="{{ .Format "2006-01-02T15:04:05Z07:00" }}"
                                  title="{{ .Format "2006-01-02T15:04:05Z07:00" }}">{{ .Format "2006-01-02" }}</time>{{ i18n "article_created_at" }}
                        </span>
                    {{ end }}
                    {{ with .Lastmod }}
                        <span class="level-item">
                            <time dateTime="{{ .Format "2006-01-02T15:04:05Z07:00" }}"
                                  title="{{ .Format "2006-01-02T15:04:05Z07:00" }}">{{ .Format "2006-01-02" }}</time>{{ i18n "article_updated_at" }}
                        </span>
                    {{ end }}
                    {{ with .Params.author }}
                        <span class="level-item">{{ . }}</span>
                    {{ end }}
                    {{ with .Params.categories }}
                        <span class="level-item">
                            {{ $categories := index . 0 }}
                            <a class="link-muted" href="/categories/{{ $categories }}">{{ $categories }}</a>
                        </span>
                    {{ end }}
                    {{ if .Site.Params.article.readtime }}
                        <span class="level-item">{{ i18n "article_read_time" .ReadingTime }} ({{ i18n "article_word_count" .WordCount }})</span>
                    {{ end }}
                    {{ if (.Scratch.Get "have").busuanzi }}
                        <span class="level-item" id="busuanzi_container_page_pv">
                            <span id="busuanzi_value_page_pv">0</span>{{ i18n "plugin_visit_count" }}
                        </span>
                    {{ end }}
                </div>
            </div>
        {{ end }}
        <h1 class="title is-3 is-size-4-mobile">{{ .Title }}</h1>
        <div class="content">{{ .Content }}</div>
        {{ if and .Site.Params.article.licenses (gt (len .Site.Params.article.licenses) 0)}}
            {{ partial "misc/article_licensing.html" . }}
        {{ end }}
        {{ with .Params.tags }}
            <div class="article-tags size-small mb-4">
                <span class="mr-2">#</span>
                {{- range $index, $value := . -}}
                    <a class="link-muted mr-2" href="/tags/{{ $value }}" rel="tag">{{ $value }}</a>
                {{- end -}}
            </div>
        {{ end }}
        {{ partial "common/share.html" . }}
    </article>
</div>

{{ if and .Site.Params.donate (.Params.donate | default true) }}
    {{ partial "common/donate.html" . }}
{{ end }}

{{ if or .PrevInSection .NextInSection }}
    <nav class="post-navigation mt-4 level is-mobile">
        {{ with .NextInSection }}
            <div class="level-start">
                <a class="article-nav-prev level level-item link-muted" href="{{ .Permalink }}">
                    <i class="level-item fas fa-chevron-left"></i>
                    <span class="level-item">{{ .Title }}</span>
                </a>
            </div>
        {{ end }}
        {{ with .PrevInSection }}
            <div class="level-end">
                <a class="article-nav-next level level-item link-muted" href="{{ .Permalink }}">
                    <span class="level-item">{{ .Title }}</span>
                    <i class="level-item fas fa-chevron-right"></i>
                </a>
            </div>
        {{ end }}
    </nav>
{{ end }}

{{ if and .Site.Params.comment.type (.Params.comment | default true) }}
    {{ partial "common/comment.html" . }}
{{ end }}
