<div class="card widget" data-type="tags">
    <div class="card-content">
        <div class="menu">
            <h3 class="menu-label">{{ i18n "common_tag" 2 }}</h3>
            <div class="field is-grouped is-grouped-multiline">
                {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                    <div class="control">
                        <a class="tags has-addons" href="/tags/{{ $name }}/">
                            <span class="tag">{{ $name }}</span>
                            <span class="tag">{{ .Count }}</span>
                        </a>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
