<article class="media">
    {{ if .Params.thumbnail }}
        <a class="media-left" href="{{ .Permalink }}">
            <p class="image is-64x64">
                <img class="fill" src="{{ .Params.thumbnail }}" alt="{{ .Title }}">
            </p>
        </a>
    {{ end }}
    <div class="media-content size-small">
        <p><time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>{{ .Date.Format "2006-01-02" }}</time></p>
        <p class="title is-6"><a class="link-muted" href="{{ .Permalink }}">{{ .LinkTitle }}</a></p>
        <p class="is-uppercase">{{ $categories := index .Params.categories 0 }}{{ with $categories }}<a class="link-muted" href="/categories/{{ $categories }}">{{ . }}</a>{{ end }}</p>
    </div>
</article>
