<article class="media">
    {{ if .Params.thumbnail }}
        <figure class="media-left">
            <a class="image" href="{{ .Permalink }}">
                <img src="{{ .Params.thumbnail }}" alt="{{ .Title }}">
            </a>
        </figure>
    {{ end }}
    <div class="media-content">
        <p class="date"><time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>{{ .Date.Format "2006-01-02" }}</time></p>
        <p class="title"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></p>
        <p class="categories">{{ $categories := index .Params.categories 0 }}{{ with $categories }}<a href="/categories/{{ $categories }}">{{ . }}</a>{{ end }}</p>
    </div>
</article>
